        .hero-section {
            background-image: url('../assets/muffins-wallpaper.jpg'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; 
            color: white; 
            position: relative;
        }
        .featured-section {
            margin-top: 2rem; 
            margin-bottom: 2rem; 
        }
        .cakes-section {
            background-color: rgb(54, 110, 184);

            border: 1px solid white;
            border-top: none;
        }

        .pastries-section {
            background-color: rgb(247, 117, 208);

            border: 1px solid white;
            border-top: none;
        }

        .cookies-section {
            background-color: rgb(54, 110, 184);
            border: 1px solid white;
            border-top: none;
        }

        .social-section {
            background: 
                linear-gradient(rgba(65, 65, 65, 0.5), rgba(73, 73, 73, 0.5)), /* Gradient overlay */
                url('../assets/facebook-page-picture.jpg'); /* Background image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid white;
        }
        .card {
            height: 390px; /* Set your desired fixed height */
            overflow: hidden; /* Hide overflow if content exceeds height */
        }
        
        .card-img-top {
            height: 250px; /* Set a fixed height for the image */
            object-fit: cover; /* Ensures the image covers the area without distortion */
        }
        